# VS Code "Local History" extension
.history/

# OS / editor cruft
Thumbs.db
Desktop.ini
.DS_Store

# PlatformIO build output
.pio/


**.ai

/build/

# LaTeX build output (docs/Investigacion), pero conservando los PDF
**/docs/Investigacion/build/*
!**/docs/Investigacion/build/*.pdf
.tex